.row {
    text-align: center;
    padding-top: 7%;
   
}

.ImagenF {
    filter: hue-rotate(209deg) brightness(200%);
}

.TituloR {
    padding: 3%;
    font-family: 'roboto';
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.Croles {
    position: relative;
}

.Formu {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Lform {
    text-align: center;
}

.Fl{
    
    box-shadow: 2px 0px 20px rgb(41, 37, 37);
border-radius: 10px;
padding: 10px;
background: #ffffff ;

}

.Fl:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.fondo2{
    padding: 20px;
    background-image: url(https://fondosmil.com/fondo/504.jpg);
    
}

.fondo{
    position:absolute;
    background-attachment: fixed;
	width:100%;
    height:100%;
    background-image: url(https://fondosmil.com/fondo/504.jpg);
}