.row {
    text-align: center;
   
    display: flex;
    
    justify-content: center;
   
}

.ImagenF {
    filter: hue-rotate(209deg) brightness(200%);
}
.ImagenF2 {
    filter: hue-rotate(209deg) brightness(200%);
}


.TituloR {
    padding: 3%;
    font-family: 'roboto';
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.Croles {
    position: relative; 
}

.Formu {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Lform {
    text-align: center;
}

.Fl{
    
    box-shadow: 2px 0px 20px rgb(41, 37, 37);
border-radius: 10px;
padding: 10px;
background: #ffffff ;

}

.Fl:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.fondo2{
	font-family: 'Roboto', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.f2{
  padding-left: 10px;  
}


.fondo{
    background: linear-gradient(to bottom right, #722BAE,  #4B2CB2, #3036C6);
    
}

.principal2{
    

}
.colsito1{
    width: 40%;
    height: 100%;
}
.colsito2{
    width: 40%;
    height: 100%;
}
.colsito3{
    width: 40%;
    height: 100%;
    
}
.colsito4{
    width: 40%;
    height: 100%;
}
.colsito5{
    width: 80%;
    height: 100%;
}
.ImagenI {
    width: 20%;
    height: 20%;
}


@media screen and (max-width: 700px){
    .fondo2{
        height: auto;
    }
    .ImagenI {
        width: 50%;
        height: 50%;
    }

    

    .ImagenF {
        width: 30%;
        height: 30%;
    }
}

.regis{
    font-family: 'roboto';
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#colsito{
    
    padding-bottom: 10px;
}


