.contenedor_formd{
  box-sizing: border-box;
  max-width: 1000px;
  width: 70%;
  padding: 30px;
}

.img_usu_creacion{
  width: 250px;
  height: 200px;
}
/*el cursor:pointer sirve para que la imagen quede como si fuera un boton*/
#Boton_imagen_eyes{
  cursor: pointer;
width: 30px;
}
#Contenedor_contraseña{
 display: flex;
}
.Contenedor_contraseña_Arreglo{
width: 96%;
}
.Contenedor_imagen_boton{
  display: inline;
  text-align: center;
  padding-top: 32px;
 width: 4%;
}
.div_img_eye{
 display: inline;
  width: 5%;
}

.Title_and_image{
  text-align: center;
}
#select_sin_react{
  border-radius: 4px;
  height: 35px;
  border: none ;
  background-color:rgb(2, 18,95);
  color: white;
  display: inline-block;
  width: 100%;
}
.center_button{
  text-align: center;
}
#formBasicEmail{
  background-color:rgb(194, 193, 193);;
}
#input_contra_form{
  background-color:rgb(194, 193, 193);;
}
#formBasicontraseña{
  background-color:rgb(194, 193, 193); ;
  
}
.contenedor_img_eye{
  width: 10%;
  display: block;
 
}
.fourth {
  align-items: center;
  border-radius: 7px;
  width: 150px;
  border-color: rgb(2, 18,95);
  color: rgb(0, 0, 0);
  background-image: -webkit-linear-gradient(45deg, rgb(2,18,95) 90%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(2,18,95), transparent 90%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

