
.DIRECTOR_CONTENEDOR{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  @media screen and (max-width: 700px) {
    .DIRECTOR_CONTENEDOR {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .Formularioxd {
    width: 100%;
    border-radius: 5px;
  }
  
  .Imagen_bank {
    width: 110px;
    height: 110px;
  }

  
  .contenedor-formulario-director {
    border-bottom: 4%;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(59, 102, 102);
    margin-left: 35%;
    margin-right: 35%;
  }
  @media screen and (max-width: 800px) {
    .contenedor-formulario-director{
      margin-top: 1%;
      border-bottom: 4%;
      background-color: rgb(250, 250, 250);
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgb(46, 78, 78);
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  .imgagen_director {
    margin-top: 1%;
    text-align: center;
  }
  
  .titulo_creacion_usuarios {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  
  
  .cajas_director{
    text-align: center;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;
  }
  
  .cajas_director2 {
    text-align: center;
    margin-top: 25px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;
    margin-bottom: 4%;
  }
  
  