@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Titulo-principal {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 400%;
}



.inputsito {
  width: 100%;
  background-color: #cdcec0;
  border: 3px solid rgb(255, 208, 1);
  border-radius: 3px;
  height: 45px;
  padding: 0% 40px 0 10px;
  transition: 0.3s ease all;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.Fondo {
  background-color: #ebf5fb;
  padding: 30px;
  display: grid;
 
  
}

.red-red {
  --bs-gutter-x: 0rem !important;
}


.column {
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.label {
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.label-2 {
  display: grid;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: rgb(7, 5, 5);
  text-align: left;
}

.Border {
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.Border-2 {
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 300px;
}

.Titulo {
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: center;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.Titulo-2 {
  padding-inline-start: 2%;
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
}

.Titulo-3 {
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  height: 26px;
}

.Titulo-4 {
  padding-inline-start: 2%;
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  height: 26px;
}

.Aviso {
  padding: 10px;
  color: grey;
  margin-top: -1%;
  font-size: small;
}

.Select-One {
  width: 60%;
}

.Texto {
  float: left;
  color: rgb(34, 14, 209);
  padding-right: 40px;
}

.Texto-2 {
  float: left;
  padding-right: 40px;
}

.label-3 {
  font-weight: 700;
  padding: 23px;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.label-4 {
  text-align: left;
  width: 195px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: rgb(7, 5, 5);
}
